@using Microsoft.AspNetCore.Identity
@using Recipe.Web.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/Settings">Settings</a>
    </li>
    <li class="nav-item">
        <form method="post" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index")" id="logoutForm">
            <button type="submit" class="nav-link btn btn-link">Sign Out (@User.Identity?.Name)</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/Login">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Account/Register">Register</a>
    </li>
}
</ul>
